{{ define "direct" }}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Problem</title>
</head>
<body>
<p>There may be a problem with this resource. Please try the direct link below and see how that goes:</p>

<p><a href="{{ . }}">{{ . }}</a></p>

</body>
</html>
{{ end }}